<div class="search-form">
    <div *ngIf="error" class="text-danger alert alert-danger d-inline-block py-2">Destination not found</div>
    <form [formGroup]="form">
        <div>
            <label for="">Destination</label>
            <input type="text" placeholder="Destination" 
            [formControl]="control"
            [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let destination of filteredDestinations | async" [value]="destination.name">
                  {{destination.name}}
                </mat-option>
              </mat-autocomplete>
        </div>
        <div>
            <label for="">Check In</label>
            <input [min]="minDate" formControlName="checkIn" type="text" placeholder="Check In" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>
        <div>
            <label for="">Check Out</label>
            <input [min]="form.controls['checkIn'].value" formControlName="checkOut" type="text" placeholder="Check Out" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </div>
        <div>
            <label for="">Adults</label>
            <input formControlName="adult" type="number" min="0" placeholder="0">
        </div>
        <div>
            <label for="">Children</label>
            <input formControlName="child" type="number" min="0" placeholder="0">
        </div>
        <div>
            <label for=""></label>
            <button (click)="submit()" type="submit" class="btn">Search</button>
        </div>
    </form>
</div>